.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0 4rem 0 4rem;
    height: 54px;
    flex-shrink: 0;

    border-bottom: 1px solid;

}