.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 1rem;

}

.addArea {
    outline: 2px solid color-mix(in srgb, var(--primary), #1d1d1d75 90%);
    padding: 0.4rem 0.4rem;
    border-radius: 0.4rem;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    overflow: hidden;
}

.addArea>svg {
    color: color-mix(in srgb, var(--primary), #1d1d1d75 20%);

}

.addArea:not(.active):hover {
    padding: 3rem 0.4rem;
    cursor: pointer;
    background-color: color-mix(in srgb, var(--background), #fffffffd 10%);
}

.active {
    padding: 3rem 0.4rem;
    background-color: color-mix(in srgb, var(--background), #fffffffd 10%);
    cursor: default;
    width: 15rem;
}

.new>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.new>form>input {
    color: var(--primary);
    width: 90%;
    background-color: #1d1d1d00;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 0.1rem 0.1rem;
    border-bottom: 1px solid var(--primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.actions>button {
    background-color: var(--primary);
    font-weight: 500;
    font-size: 0.9rem;
    width: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0.3rem 0.7rem;
    transition: 0.4s all;
}

.actions>button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--primary), #080808fd 30%);
    ;
}