.commandItem {
    display: grid;
    grid-template-columns: 2rem 1fr 4rem;
    grid-template-rows: 1.4rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    transition: all 0.6s;
    border-radius: 4px 15px 15px 4px;
    padding: 0.4rem;

}

.selected {
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
}

.code {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1.5rem;

}

.code:hover {
    cursor: pointer;
}



.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoke {
    background-color: var(--primary);
    color: var(--secondary-accent);
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: scale 0.2s;
}

.invoke:hover {
    cursor: pointer;
    scale: 1.03;
}

.loader {
    width: 23px;
    height: 23px;
    border: 2px dotted var(--primary);
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 3s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1.8px dotted var(--secondary-accent);
    border-style: solid solid dotted;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    animation: rotationBack 1.4s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}