.commandItem {
    display: grid;
    grid-template-columns: 2rem 1fr 4rem;
    grid-template-rows: 1.4rem 0rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0px;

    transition: all 0.3s;
    border-radius: 4px 10px 10px 4px;
    padding: 0.4rem;

}

.commandItem.expanded {
    grid-template-rows: 1.4rem 4rem;
}

.expandedMenu {
    grid-area: 2 / 1 / 2 / 4;
    padding: 1rem 4rem;
    width: 100%;

}

.expandedMenuRow {
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.changeBtn {
    padding: 0.2rem 0.5rem;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: 0.3s all;
}

.changeBtn:hover {
    cursor: pointer;
    background-color: var(--primary-accent);
    outline: 1px solid var(--secondary);
}

.selected {
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
}

.code {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1.5rem;

}

.code:hover {
    cursor: pointer;
}



.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDown:hover {
    cursor: pointer;

}

.invoke {
    background-color: var(--primary);
    color: var(--secondary-accent);
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: scale 0.2s;
}

.invoke:hover {
    cursor: pointer;
    scale: 1.03;
}

.loader {
    width: 20px;
    height: 20px;
    outline: 2px dotted var(--primary);
    outline-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 4s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: 2px dotted var(--secondary-accent);
    outline-style: solid solid dotted;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: rotationBack 2s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}