.main {
    grid-area: 1 / 1 / 3 / 2;
    border: 1px solid white;
}

.header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid white;
    padding: 20px;

}