.edit {
    max-width: 10rem;
    justify-content: flex-end;
    height: 1.2rem;
}


.editField {

    color: var(--secondary);
    width: 90%;
    background-color: #ffffff00;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 0.2rem 0.4rem;
    height: 1rem;
    position: relative;
    bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

:focus {
    outline: none;
}


.secondaryColors {
    color: var(--primary);
}