.button {
    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    outline: none;
    outline: 0;
    padding: 5px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.4s all;

}

.button:hover {
    border: 1px solid var(--primary-accent);
}