.wrapper {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;

    transition: all 0.8s ease-in-out;
    position: relative;
    min-height: 15rem;
}

.minimized {
    min-width: 13rem;
    max-width: 15rem;
}


.highlighted {
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
    border-radius: 10px 10px 0 0px;
}

.header {
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.4rem;

}

.header span {
    width: 80%;
    border-bottom: 1px solid white;
    padding-bottom: 0.3rem;
}

.listActions {
    width: 100%;
}

.listActions ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: color-mix(in srgb, var(--background), #ffffff 40%);
    font-size: 0.8rem;

}

.listActions ul li {
    border: 1px solid color-mix(in srgb, var(--background), #ffffff 40%);
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    border-radius: 1rem;
}

.listActions ul li:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
    color: color-mix(in srgb, var(--background), #ffffff 80%);
}

.body {
    margin: 2rem 1rem 3rem 1rem;
    padding-left: 1rem;
    max-height: 30vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.3rem 0;
    transition: all 0.3s ease-in-out;
}

.body.hidden {
    width: 0;
    opacity: 0;
    max-height: 0vh;
}

.muteButtonActive {
    background-color: color-mix(in srgb, var(--background), #ffffff 20%);
    color: color-mix(in srgb, var(--background), #ffffff 90%);
}

.variablecount {
    color: color-mix(in srgb, var(--background), #ffffff 40%);
    font-size: 1.4rem;
    margin-left: 0.5rem;
    position: absolute;
    top: 50%;
}

.variablecount.hidden {
    opacity: 0;
}