.main {
    padding: 0.2rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    outline: 1px solid color-mix(in srgb, var(--primary), #1c1c1c 70%);
    border-radius: 7px;
    transition: 0.3s all;
}

.main:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--background), #ffffff 5%);
    outline: 1px solid color-mix(in srgb, var(--primary), #1c1c1c 10%);
}


.dot {
    color: color-mix(in srgb, var(--primary), #1c1c1c 30%);
}