.recordRow {
    margin: 0.2rem 0rem 0.2rem 0.2rem;
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
    border-radius: 10px;

    max-width: 30rem;
    min-width: 20rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 100%;

}

.recordRow:hover {
    background-color: color-mix(in srgb, var(--background), #ffffff 20%);
    cursor: pointer;
}

.recordRow.editMode {
    max-width: 40rem;
    min-width: 40rem;
}

.recordRow.minimized {
    max-width: 16rem;
    min-width: 10rem;
    gap: 0;
}

.recordRow.editMode.newRecord {
    max-width: unset;
    min-width: unset;
    align-self: center;
}


.addButton:hover {
    cursor: pointer;
}

.field {

    background-color: #ffffff00;
    border: 0;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.field:focus {
    outline: none;

}

input.field {
    width: 100%;
}

.primary {
    color: var(--primary);

}

.secondary {
    color: var(--secondary);
}

.key {
    max-width: 100%;
}

.key.minimized {
    overflow: hidden;
}

.value {
    background-color: var(--primary-accent);
    border-radius: 10px 3px 3px 10px;
    overflow: hidden;
    height: 100%;
    transition: 0.4s ease-in-out;

}

.muted {
    background-color: color-mix(in srgb, var(--primary-accent), #000000 30%);
}