.env,
.value,
.newListPlaceholder {
    padding: 0.2rem 0.3rem 0.2rem 0.8rem;
    height: 1.7rem;

    align-items: center;
}

.env {
    padding-right: 0.5rem;
}

.env.minimized {
    display: flex;
    overflow: hidden;
}

.env>p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}


.value {
    background-color: var(--primary-accent);
    color: var(--background);
    font-weight: 500;
    height: 100%;
    border-radius: 10px 3px 3px 10px;
    min-width: 10%;
    max-width: 70%;
    padding-right: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    transition: all 0.4s ease-in-out, background-color 1ms;
}

.value.minimized {
    opacity: 0;
    min-width: unset;
    max-width: 0rem;
    right: -1rem;
}

.noHover:hover {
    cursor: default;
}

.value.open:not(.disabled) {
    background-color: var(--secondary-accent);
}

.listItem {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0rem 0.2rem 0.2rem;
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
    border-radius: 10px;
    position: relative;
}

.dot {
    position: absolute;
    right: 0.3rem;
}

.listItem:hover {
    cursor: pointer;
}

.newListPlaceholder {
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: color-mix(in srgb, var(--primary-accent), #0c0c0c 50%);
    pointer-events: none;
}