.env,
.value,
.newListPlaceholder {
    padding: 0.2rem 0.7rem 0.2rem 0.9rem;
}

.env {
    overflow: hidden;
    display: flex;
}


.env>p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.value {
    background-color: var(--primary-accent);
    color: var(--background);
    font-weight: 500;
    height: 100%;
    border-radius: 10px 3px 3px 10px;
    min-width: 10%;
    max-width: 40%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    transition: all 0.8s ease-in-out;
}

.value.minimized {
    opacity: 0;
    max-width: 0;
}

.noHover:hover {
    cursor: default;
}

.value.open:not(.disabled) {
    background-color: var(--secondary-accent);
}

.listItem {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0rem 0.2rem 0.2rem;
    background-color: color-mix(in srgb, var(--background), #ffffff 10%);
    border-radius: 10px;
    gap: 1rem;
    height: 1.6rem;
    position: relative;
}

.listItem:hover {
    cursor: pointer;
}

.newListPlaceholder {
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: color-mix(in srgb, var(--primary-accent), #0c0c0c 50%);
    pointer-events: none;
}